<h1>Admin::Comments#index</h1>

<% @comments.each do |comment| %>
    <%= comment.user.nickname %></br>
    <%= comment.created_at.strftime('%Y/%m/%d') %></br>
    <%= comment.body %></br>
    <%= link_to "destroy", admin_comment_path(comment), method: :delete %></br>
  <% end %>