<%= stylesheet_link_tag 'public/groups', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class='container'>
  <h1 class="page-title-long">EDIT TOUR</h1>
  <div class = "row mt-3">
    <div class = 'col'>
      <%= render 'form', group: @group %>
      </br>
      <%= link_to 'BACK', 'javascript:history.back()' ,class:"btn-back" %></br></br>
    </div>
  </div>
</div>