<%= stylesheet_link_tag 'public/posts', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1 class="page-title-long">NEW RECIPE</h1>
  <div class='container'>
    <div class = "row">
      <div class = 'col'>
        <%= render 'form', post: @post ,submit: 'New Registration' %>
        </br>
        <%= link_to 'BACK', 'javascript:history.back()' ,class:"btn-back" %>
      </div>
    </div>
  </div>
