// Place all the styles related to the public/groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//body {
  //background-image: image-url("AdobeStock_236184001.jpeg");
  //background-size: cover;
  //background-position: center;
  //background-repeat: no-repeat;
//}
body {
  background-image: image-url("AdobeStock_363724193.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Georgia, serif;
  height: 100%;
}

.page-title {
  width: 250px;
  margin-top: 10px;
  font-size: 50px;
}

.page-title-long {
  width: 100%;
  margin-top: 2%;
  font-size: 50px;
}

.search_form-2 {
  display: flex;
  justify-content: flex-end;
}

.list-group {
	margin: 2em auto;
	background-color: #F0D5C0;/*ボックス背景色*/
	padding: 2.1em 1em 1em;/*ボックス内側余白*/
	position: relative;/*配置(ここを基準に)*/
}

.list-group .box-title {
	background-image: repeating-linear-gradient(-45deg,#F6CE95 0, #F6EEEC 3px,#fafafa 3px,#fafafa 6px);/*ストライプ*/
	border-left: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ左*/
	border-right: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ右*/
	transform: rotate(-2deg);/*テープの傾き*/
	font-size: 1em;/*タイトル文字の大きさ*/
	padding: 10px 20px;/*タイトルの余白*/
	line-height: 1;/*タイトルの行の高さ*/
	position: absolute;	/*配置(ここを動かす)*/
	top: -15px; /*上から（-10px）移動*/
	left: 20px; /*左から(20px)移動*/
	font-weight: bold;
}

.list-group a {
  color: #777;
}

.link-button {
  display: inline-block;
  margin-right: 5px;  // リンクの間に隙間を開けるために必要な場合
}

ul {
  list-style: none;
  line-height: 1;
}

.btn-back {
  align-items: center;
  background-color: #FEF5DF;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  padding: 0 25px;
  position: relative;
  width: 100px;
  bottom: 0;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-back:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.btn-back:hover:after {
  transform: translate(0, 0);
}

.btn-back:active {
  background-color: #ffdeda;
  outline: 0;
}

.btn-back:hover {
  outline: 0;
}

.member {
  background-color: #FDFFCE;
  padding: 2% 0;
}

.member-list {
  display: flex;
  flex-wrap: wrap;
}

a.btn-leave {
  color: white;
}

.btn-leave {
  background-color: #C0C0C0;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-leave:hover,
.btn-leave:focus {
  background-color: #F082AC;
}

a.btn-join {
  color: white;
}

.btn-join {
  background-color: #F09B59;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-leave:hover,
.btn-leave:focus {
  background-color: #F082AC;
}

.button {
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #F08650;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #F08650;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #F08650;
  z-index: -1;
}

.button:hover, button:focus {
  color: white;
}

.button:hover:before, button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.button:active {
  transform: scale(0.9);
}

.under-border {
 border-bottom: 1px solid #000;
 width: 30%;
}

.member h1 {
  border-bottom: 2px solid #000;
  width: 25%;
}

.col-10 h3 {
  border-bottom: 1px solid #000;
  width: 40%;
}

.list-group li {
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .list-group ul {
    overflow-x: scroll;
  }
  .long-text {
    overflow-x: scroll;
  }

  body {
    background-image: none;
  }
}

@media (max-width: 479px) {
  .list-group ul {
    overflow-x: scroll;
  }
  .long-text {
    overflow-x: scroll;
  }

  body {
    background-image: none;
  }

  .under-border {
    width: 100%;
  }

  .member h1 {
    border-bottom: 2px solid #000;
    width: 100%;
  }

  .member-list {
    display: block;
  }
}

@media (max-width: 1024px) {
  body {
    background-image: none;
  }
}