// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#mv {
  background-image: image-url("2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Georgia, serif;
  width: 100%;
  height: 650px;
  padding: 2%;
}

.top_title{
  text-align: center;
  padding-top: 25%;
  padding-bottom: 3%;
}


h2{
  font-size: 60px;
  color: #F67676;
}

a {
  color: #F67676;
}
a:hover {
  color: #F67676;
}

#about {
  background-image: image-url("AdobeStock_566056172.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Georgia, serif;
  width: 100%;
  height: 650px;
  margin: 0;
}

.about_title {
  text-align: center;
  color: #3e2e28;
  padding-top: 90px;
}
.second-title {
  font-size: 60px;
}

.swiper {
  width: 1000px;
}

/* スライドの動き等速 */
.swiper-wrapper {
  transition-timing-function: linear;
}
/* 画像のサイズ調整 */
.swiper-slide img {
  height: 200px;
  width: 300px;
}

.subtitle,.content {
  margin-top: 3%;
}