body {
  background-image: image-url("AdobeStock_249779113.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-box {
  background-color: #F2F0E7;
  width: auto;
  padding: 10px 30px;
}