<link rel="stylesheet" type="text/css" href="/assets/homes.css">

<div class="top_title">
  <h1>Travel By Cooking</h1>
  <h2>
    <%= link_to "Let's start the journey" ,new_user_registration_path %>
  </h2>
</div>
