<link rel="stylesheet" type="text/css" href="/assets/homes.css">

<div class="top_title">
  <h1>Travel By Cooking</h1>
  <h2>
    <%= link_to new_user_registration_path do %>
    Let's start the journey
    <% end %>
  </h2>
</div>
