<%= stylesheet_link_tag 'admin/homes', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class='container'>
  <h1 class="page-title-long">Admin's Room</h1>
  <div class = "row mt-5">
    <div class "col">
    <%= link_to 'Log in for Admin', admin_session_path ,class:"btn btn-warning" %>
    </div>
  </div>
</div>