// Place all the styles related to the admin/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-family: Georgia, serif;
  height: 100%;
}

.page-title {
  width: 250px;
  margin-top: 10px;
  font-size: 50px;
}

.page-title-long {
  width: 400px;
  margin-top: 10px;
  font-size: 50px;
}

table {
  margin: 20px 0px;
}

section {
  margin: 20px 0px;
}

.box {
  display: grid;
  grid-template-columns:repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 5px;
}

.items {
  list-style:none;
  background-color: white;
}

.card {
  margin: 10px auto;
  width: 200px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.card a {
  color: #777;
}

.card-img {
  border-radius: 5px 5px 0 0;
  text-align: center;
  margin: 0px;
  height: 130px;
}

.card-content {
  padding: 0px;
}

.card-title {
  font-size: 20px;
  margin: 5px 0px;
  text-align: center;
  color: #333;
}

.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.container{
  position: relative;
}

.search_form-1 {
  position: absolute;
  top: 0;
  left: 60%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.search_form-2 {
  position: absolute;
  top: 0;
  right: 0;
}

.list-group-item {
	margin: 5px;
	padding: 1em;/*内側の余白*/
	background: none;/*元のボックス背景色なし*/
	border: 1px solid #ccc ;/*線の太さ・種類・色*/
	position: relative;/*配置（基準）*/
}

.list-group-item:after {
	background-color:#EAFBEB;/*ずらしたボックスの背景色*/
	border: none;
	content: '';
	position: absolute;/*配置（ここを動かす）*/
	top: 7px;/*上から7pxずらす*/
	left: 7px;/*左から7pxずらす*/
	width: 100%;
	height: 100%;
	z-index: -1;
}

.list-group a {
  color: #777;
}

.btn-back {
  align-items: center;
  background-color: #FEF5DF;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  padding: 0 25px;
  position: relative;
  width: 100px;
  bottom: 0;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-back:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.btn-back:hover:after {
  transform: translate(0, 0);
}

.btn-back:active {
  background-color: #ffdeda;
  outline: 0;
}

.btn-back:hover {
  outline: 0;
}