<%= stylesheet_link_tag 'admin/country_genre', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <h1 class="page-title-long">COUNTRY EDIT</h1>
  <div class="row">
    <div class="col-6 my-5">
      <%= render 'form', home_country: @home_country , url: admin_home_country_path(@home_country), submit: 'save'%>
      </br>
      <%= link_to 'BACK', 'javascript:history.back()' ,class:"btn-back" %></br></br>
    </div>
  </div>
</div>