body {
  background-image: image-url('AdobeStock_528723350');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top_title{
  text-align: center;
  color: #3e2e28;
  margin-top: 10%;
}

h1{
  font-size:80px;
}

h2{
  font-size: 60px;
}

a {
  color: #3e2e28;
}
a:hover {
  color: #3e2e28;
}