body {
  background-image: url('AdobeStock_236184001');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
table {
  margin-top: 30px;
}
.box {
  display: grid;
  grid-template-columns:repeat(3, 200px);
  grid-auto-rows: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 20px 10px 10px 10px;
}

.items {
  list-style:none;
  background-color: white;
}
tr {
  background-color: #fff450
}
