body {
  background-image: url('AdobeStock_236184001');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
table {
  margin: 30px 0px;
}
.page-title {
  width: 210px;
  margin-top: 20px;
  font-size: 50px;
  background-color: white;
}
.box {
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 5px;
}

.items {
  list-style:none;
  background-color: white;
}
tr {
  background-color: #FFFFB3
}

.card {
  margin: 10px auto;
  width: 200px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card-img {
  border-radius: 5px 5px 0 0;
  text-align: center;
  margin: 0px;
  height: 130px;
}
.card-content {
  padding: 0px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}