<div class="container">
  <div class="row">
    <h1 class="my-2">Users List</h1>
    <table class="table table-hover">
      <thead style="background-color: #b4ba9f;">
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Nickname</td>
          <td>Detail&Posts</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.nickname %></td>
          <td><%= link_to 'click' , admin_user_path(user), data: {"turbolinks" => false} %></td>
          <td>
            <% if user.is_active %>
            <strong class="text-success">Member</strong>
            <% else %>
            <strong class="text-muted">Withdrawal</strong>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>